.like {
  cursor: pointer;
  background-color: grey;
  border: none;
  color: black;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10%;
  border-top-left-radius: 50%;
  margin: 1rem;
}

.dislike {
  cursor: pointer;
  background-color: grey;
  border: none;
  color: black;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10%;
  border-top-right-radius: 50%;
  margin: 1rem;
}

.like:hover:not(:disabled) {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background-color: green;
  color: #002e5b;
  text-decoration: underline;
}

.like:disabled:hover {
  cursor: not-allowed;
  text-decoration: none;
}

.dislike:disabled:hover {
  cursor: not-allowed;
  text-decoration: none;
}

.dislike:hover:not(:disabled) {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background-color: red;
  color: #002e5b;
  text-decoration: underline;
}

.buttonsArea {
  display: flex;
  justify-content: space-evenly;
}
